---
title: 'Blog | Gardners Digital Solutions'
description: 'The Gardners Digital Solutions Blog hosts expert insights on web design, SEO, and digital strategies tailored for small businesses and nonprofits. Get actionable tips and industry news to boost your online presence.'
preloadImg: '/assets/images/pa1.png'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
    var CSbody = document.querySelector("body");
    const CSnavbarMenu = document.querySelector("#cs-navigation");
    const CShamburgerMenu = document.querySelector("#cs-navigation .cs-toggle");

    // CShamburgerMenu.addEventListener('click', function() {
    //     CShamburgerMenu.classList.toggle("cs-active");
    //     CSnavbarMenu.classList.toggle("cs-active");
    //     CSbody.classList.toggle("cs-open");
    //     // run the function to check the aria-expanded value
    //     ariaExpanded();
    // });

    // checks the value of aria expanded on the cs-ul and changes it accordingly whether it is expanded or not
    function ariaExpanded() {
        const csUL = document.querySelector('#cs-expanded');
        const csExpanded = csUL.getAttribute('aria-expanded');

        if (csExpanded === 'false') {
            csUL.setAttribute('aria-expanded', 'true');
        } else {
            csUL.setAttribute('aria-expanded', 'false');
        }
    }

    document.addEventListener('scroll', (e) => {
        const scroll = document.documentElement.scrollTop;
        if(scroll >= 100){
            document.querySelector('body').classList.add('scroll')
        } else {
            document.querySelector('body').classList.remove('scroll')
        }
    });


    // mobile nav toggle code
    const dropDowns = Array.from(document.querySelectorAll('#cs-navigation .cs-dropdown'));
    for (const item of dropDowns) {
        const onClick = () => {
            item.classList.toggle('cs-active')
        }
        item.addEventListener('click', onClick)
    }
</script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Blog</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pa1.png">
            <source media="(min-width: 601px)" srcset="/assets/images/pa1.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/pa1.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">
                        <!--Main Article Image-->
                        <picture class="blog-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="795"
                            height="400"
                            decoding="async"/>
                        </picture>
                        <!--Article Info-->
                        <div class="article-group">
                            <div class="blog-authorGroup">
                                <!--Author Image-->
                                <picture class="blog-author-img">
                                    <img
                                    src="/assets/svgs/profile.svg"
                                    alt="house"
                                    width="32"
                                    height="32"
                                    decoding="async"/>
                                </picture>
                                <span class="blog-author">{{ post.data.author }}</span>
                                <span aria-hidden="true" class="blog-dot"></span>
                                <!--Blog Date-->
                                <span class="blog-date">{{ post.date | postDate }}</span>
                            </div>
                            <h2 class="blog-h1">
                                {{ post.data.title }}
                            </h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}