---
title: 'Terms of Use | Gardners Digital Solutions'
description: 'Gardners Digital Solutions Privacy Policy'
preloadImg:
permalink: 'terms-of-use/'
eleventyNavigation:
    key:
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                Privacy Policy                  -->
    <!-- ============================================ -->
<style>
    .terms-content p h1 h2 h3 h4 h5 h6 a {
        color: #fff !important;
    }
</style>
<div style="height: 10rem;"></div>
    <section id="cs-contact">
        <div class="cs-container-terms">
            <form id="cs-form-terms" name="Privacy Policy" method="post">
                <body style="margin: 0 auto; width: 80%; font-family: sans-serif; line-height: 1.5; color: white; background-color: #222;">

                <h1 style="text-align: center; color: white; margin: 20px 0;">
                    TERMS OF USE
                </h1>
                <p style="text-align: center; color: white; font-style: italic;">
                    Last updated: 03/08/2025
                </p><br><br>

                <h2 style="color: white;">AGREEMENT TO OUR LEGAL TERMS</h2>
                <p style="color: white;">
                    We are <strong>Gardners Digital Solutions</strong>, a DBA of Oxide Consulting LLC (<strong>\"Company,\" \"we,\" \"us,\" \"our\"</strong>).
                </p>
                <p style="color: white;">
                    We operate the website (including informational pages and any associated contact forms) as well as any related products and services that refer or link to these legal terms (the <strong>\"Legal Terms\"</strong>) (collectively, the <strong>\"Services\"</strong>).
                </p>
                <p style="color: white;">
                    You can contact us by email at <strong>info@gardnersdigital.com</strong>, by phone at <strong>(717) 818-1625</strong>, or by mail at:
                </p>
                <address style="margin-left: 20px;">
                    950 Walnut Bottom Rd,<br>
                    Suite 15 #203,<br>
                    Carlisle, PA 17015
                </address>

                <p style="color: white;">
                    These Legal Terms constitute a legally binding agreement between you, whether personally or on behalf of an entity (<strong>\"you\"</strong>), and Oxide Consulting LLC DBA Gardners Digital Solutions, concerning your access to and use of the Services. By accessing the Services, you confirm that you have read, understood, and agreed to be bound by all these Legal Terms. <strong>IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND MUST DISCONTINUE USE IMMEDIATELY.</strong>
                </p>
                <p style="color: white;">
                    We reserve the right to make changes or modifications to these Legal Terms at any time for any reason. Updates will be indicated by revising the \"Last updated\" date. It is your responsibility to periodically review these Legal Terms for updates. Continued use after changes constitutes your acceptance of those changes.
                </p><br>
                <p style="color: white;">
                    We recommend printing a copy of these Legal Terms for your records.
                </p><br>

                <h2 style="color: white;">TABLE OF CONTENTS</h2>
                <ol style="margin-left: 20px; color: white;">
                    <li style="color: white;">OUR SERVICES</li>
                    <li style="color: white;">INTELLECTUAL PROPERTY RIGHTS</li>
                    <li style="color: white;">USER REPRESENTATIONS</li>
                    <li style="color: white;">PROHIBITED ACTIVITIES</li>
                    <li style="color: white;">USER GENERATED CONTRIBUTIONS</li>
                    <li style="color: white;">CONTRIBUTION LICENSE</li>
                    <li style="color: white;">SERVICES MANAGEMENT</li>
                    <li style="color: white;">TERM AND TERMINATION</li>
                    <li style="color: white;">MODIFICATIONS AND INTERRUPTIONS</li>
                    <li style="color: white;">GOVERNING LAW</li>
                    <li style="color: white;">DISPUTE RESOLUTION</li>
                    <li style="color: white;">CORRECTIONS</li>
                    <li style="color: white;">DISCLAIMER</li>
                    <li style="color: white;">LIMITATIONS OF LIABILITY</li>
                    <li style="color: white;">INDEMNIFICATION</li>
                    <li style="color: white;">USER DATA</li>
                    <li style="color: white;">ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</li>
                    <li style="color: white;">MISCELLANEOUS</li>
                    <li style="color: white;">CONTACT US</li>
                </ol><br>
                <h2 style="color: white;">1. OUR SERVICES</h2>
                <p style="color: white;">
                    The information provided when using the Services is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.
                </p><br>

                <h2 style="color: white;">2. INTELLECTUAL PROPERTY RIGHTS</h2>
                <p style="color: white;">
                    We are the owner or licensee of all intellectual property rights in our Services, including all source code, databases, functionality, software, website designs, and content.
                </p><br>

                <h2 style="color: white;">3. USER REPRESENTATIONS</h2>
                <p style="color: white;">
                    By using the Services, you represent and warrant that you have the legal capacity and agree to comply with these Legal Terms.
                </p><br>

                <h2 style="color: white;">4. PROHIBITED ACTIVITIES</h2>
                <p style="color: white;">
                    You may not use the Services for any purpose other than those outlined in these Legal Terms.
                </p><br>

                <h2 style="color: white;">5. USER GENERATED CONTRIBUTIONS</h2>
                <p style="color: white;">
                    The Services do not allow user-generated content submissions at this time.
                </p><br>

                <h2 style="color: white;">6. CONTRIBUTION LICENSE</h2>
                <p style="color: white;">
                    Any feedback provided to us may be used freely without compensation to you.
                </p><br>

                <h2 style="color: white;">7. SERVICES MANAGEMENT</h2>
                <p style="color: white;">
                    We reserve the right to monitor the Services for violations of these Legal Terms and take necessary action.
                </p><br>

                <h2 style="color: white;">8. TERM AND TERMINATION</h2>
                <p style="color: white;">
                    We may terminate or suspend your use of the Services at any time without notice.
                </p><br>

                <h2 style="color: white;">9. MODIFICATIONS AND INTERRUPTIONS</h2>
                <p style="color: white;">
                    We reserve the right to change, modify, or remove content from the Services at any time.
                </p><br>
                <h2 style="color: white;">10. GOVERNING LAW</h2>
                <p style="color: white;">
                    These Legal Terms shall be governed by and defined following the laws of the Commonwealth of Pennsylvania, United States. Oxide Consulting LLC DBA Gardners Digital Solutions and yourself irrevocably consent that the courts located in Cumberland County, PA shall have exclusive jurisdiction to resolve any dispute which may arise in connection with these Legal Terms.
                </p><br>

                <h2 style="color: white;">11. DISPUTE RESOLUTION</h2>

                <h3 style="color: white;">Informal Negotiations</h3>
                <p style="color: white;">
                    To expedite resolution and control the cost of any dispute, controversy, or claim related to these Legal Terms (each a <strong>\"Dispute\"</strong>), the parties agree to first attempt to negotiate any Dispute informally for at least thirty (30) days before initiating arbitration or court proceedings. Such informal negotiations commence upon written notice from one party to the other.
                </p>

                <h3 style="color: white;">Binding Arbitration</h3>
                <p style="color: white;">
                    If informal negotiations do not resolve the Dispute, either party may elect to resolve the Dispute through binding arbitration administered by a mutually agreed-upon arbitrator located within Cumberland County, PA. Arbitration shall be conducted in English, and the arbitrator’s decision shall be binding and may be entered as a judgment in any court of competent jurisdiction.
                </p><br>

                <h style="color: white;"3>Restrictions</h3>
                <p style="color: white;">
                    The parties agree that any arbitration or litigation shall be limited solely to the Dispute between the parties individually. To the extent permitted by law, no arbitration or litigation shall be joined with any other proceeding or conducted on a class-action basis.
                </p>

                <h3 style="color: white;">Exceptions to Arbitration</h3>
                <p style="color: white;">
                    The parties agree that the following Disputes are not subject to arbitration: (a) any Disputes seeking to enforce or protect intellectual property rights; (b) any claim related to allegations of theft, piracy, invasion of privacy, or unauthorized use; and (c) claims for injunctive relief. Such Disputes shall be resolved exclusively by the courts of Cumberland County, PA.
                </p><br>
                    <h2 style="color: white;">12. CORRECTIONS</h2>
                    <p style="color: white;">
                        There may be information on the Services that contains typographical errors, inaccuracies, or omissions, including descriptions, pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information on the Services at any time, without prior notice.
                    </p><br>

                    <h2 style="color: white;">13. DISCLAIMER</h2>
                    <p style="color: white;">
                        THE SERVICES ARE PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICES AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
                    </p>
                    <p style="color: white;">
                        WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SERVICES' CONTENT OR THE CONTENT OF ANY WEBSITES OR MOBILE APPLICATIONS LINKED TO THE SERVICES AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR:
                    </p><br>
                    <ul style="color: white;">
                        <li style="color: white;">ANY ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS,</li>
                        <li style="color: white;">PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SERVICES,</li>
                        <li style="color: white;">ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN,</li>
                        <li style="color: white;">ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICES,</li>
                        <li style="color: white;">ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SERVICES BY ANY THIRD PARTY, AND/OR</li>
                        <li style="color: white;">ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES.</li>
                    </ul><br>

                    <p style="color: white;">
                        WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SERVICES, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.
                    </p><br>

                    <h2 style="color: white;">14. LIMITATIONS OF LIABILITY</h2>
                    <p style="color: white;">
                        IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                    </p>
                    <p style="color: white;">
                        NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE LESSER OF THE AMOUNT PAID, IF ANY, BY YOU TO US OR THE MINIMUM PERMISSIBLE UNDER APPLICABLE LAW.
                    </p><br>

                    <h2 style="color: white;">15. INDEMNIFICATION</h2>
                    <p style="color: white;">
                        You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of:
                    </p><br>
                    <ul style="color: white;">
                        <li style="color: white;">Use of the Services;</li>
                        <li style="color: white;">Breach of these Legal Terms;</li>
                        <li style="color: white;">Any breach of your representations and warranties set forth in these Legal Terms;</li>
                        <li style="color: white;">Your violation of the rights of a third party, including but not limited to intellectual property rights; or</li>
                        <li style="color: white;">Any overt harmful act toward any other user of the Services with whom you connected via the Services.</li>
                    </ul><br>

                    <h2 style="color: white;">16. USER DATA</h2>
                    <p style="color: white;">
                        We will maintain certain data that you transmit to the Services for the purpose of managing the performance of the Services, as well as data relating to your use of the Services. Although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using the Services.
                    </p>
                    <p style="color: white;">
                        You agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from any such loss or corruption of such data.
                    </p><br>

                    <h2 style="color: white;">17. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h2>
                    <p style="color: white;">
                        Visiting the Services, sending us emails, and completing online forms constitute electronic communications. You consent to receive electronic communications, and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and on the Services, satisfy any legal requirement that such communication be in writing.
                    </p>
                    <p style="color: white;">
                        YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SERVICES.
                    </p><br>
                    <h2 style="color: white;">18. MISCELLANEOUS</h2>
                    <p style="color: white;">
                        These Legal Terms and any policies or operating rules posted by us on the Services or in respect to the Services constitute the entire agreement and understanding between you and us.
                    </p>
                    <p style="color: white;">
                        Our failure to exercise or enforce any right or provision of these Legal Terms shall not operate as a waiver of such right or provision. These Legal Terms operate to the fullest extent permissible by law. We may assign any or all of our rights and obligations to others at any time.
                    </p>
                    <p style="color: white;">
                        You agree that these Legal Terms will not be construed against us by virtue of having drafted them. You hereby waive any and all defenses you may have based on the electronic form of these Legal Terms and the lack of signing by the parties hereto to execute these Legal Terms.
                    </p><br>
                <h2 style="color: white;">19. CONTACT US</h2>
                <p style="color: white;">
                    To resolve a complaint regarding the Services or to receive further information, please contact us at:
                </p>
                <address style="margin-left: 20px;">
                    Gardners Digital Solutions (Oxide Consulting LLC)<br>
                    950 Walnut Bottom Rd,<br>
                    Suite 15 #203,<br>
                    Carlisle, PA 17015<br><br>
                    Email: <a href="mailto:info@gardnersdigital.com" style="color: white;">info@gardnersdigital.com</a><br>
                    Phone: <a href="tel:+17178181625" style="color: white;">(717) 818-1625</a>
                </address><br>

                </body>


                    </div>


                        <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}},
                    <br/>
                    {{client.address.lineTwo}},
                    <br/>
                    <span class="cs-block">
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}